<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">
  <div class="three fields">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title">
  </div>
  <div class="field">
    <label>Lat</label>
    <input placeholder="00" type="number" step=".01" name="lat">
  </div>
  <div class="field">
    <label>Lng</label>
    <input placeholder="00" type="number" step=".01" name="lng">
  </div>
    </div>
  <button class="ui blue submit button">Add Station</button>
</form>
