{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop2
  </h3>
  <p>
    A Complex Weather Application.
  </p>
  
<p>
  Psychics probably can't predict the future but we can predict rain.
  </p>
</section>
